<p>What can be improved?</p>

<%= simple_form_for pickup, url: feedback_pickup_path, method: :patch do |f| %>
  <% ["Bin was not easy to find", "Non-compostable items in bin", "Didn’t use a compostable bag"].each do |feedback| %>
    <div class="form-check">
      <input name="pickup[feedback][]"class="form-check-input" type="checkbox" value="<%= feedback %>" id="<%= feedback %>">
      <label class="form-check-label" for="<%= feedback %>">
        <%= feedback %>
      </label>
    </div>
  <% end %>  
  <%= f.hidden_field :status, value: "complete" %>
  <%= f.submit 'Submit',  class: 'btn btn-primary w-100' %>
<% end %>

