<div class="container">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <div id='pickup-booking-dates'>
        <%= simple_form_for([@pickup]) do |f| %>
            <%= f.hidden_field :date %>
            <%= f.input :time_of_day, as: :radio_buttons, collection: ["morning", "afternoon", "evening"] %>
            <%= f.input :notes, as: :text %>
            <%= f.submit "Confirm Pickup", class: "btn btn-primary" %>
            <%= link_to 'Cancel', user_dashboard_path, class: "btn btn-primary" %>
          <% end %>
      </div>
    </div>
  </div>

</div>
