<div class="container mt-4">

  <div class="driver-pickup-card card">
    <h3>How'd they scrap?</h3>

    <div class="icons">

  <%= form_tag pickup_path(@pickup), method: :patch  do %>
    <%= hidden_field_tag 'pickup[rating]', true %>
    <%= button_tag do  %>
      <div class="thumbs-up">
        <button id="good-scrap"> 
          <%= image_tag "thumbsup.png", size: '90x90' %>
        </button>
      </div>
    <% end %>
  <% end %>
      <div class="thumbs-down">
        <button id="bad-scrap">
          <%= image_tag "thumbsdown.png", size: '90x90' %>
        </button>
      </div>

    </div>
    <div class="container">
      <div class="woohoo-check">
        <%= image_tag 'review_check.svg' %>
        <span id='woohoo'>Whoohoo!</span>
        <%= link_to 'Send Feedback and Continue Pickup Route', driver_dashboard_path, method: :patch %>
      </div>
    </div>
  </div>
</div>