

<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <% if current_driver %>
    <span class="scrapit-driver">Scrapit Driver</span>
  <% end %>
  <div class="user-info">
    <% if current_user %>
      <span class="mr-1"><%= current_user.lifetime_points %> Lifetime Points</span>
    <% end %>
    <% if current_user && current_user.uid != nil %>
      <%= image_tag "http://graph.facebook.com/#{current_user.uid}/picture?type=square", class: "avatar" %>
    <% elsif current_driver %>
      <%= image_tag "driver.png", class: "avatar" %>
    <% else %>
      <%= image_tag "ScrapitSteve.jpeg", class: "avatar" %>
    <% end %>
  </div>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? || driver_signed_in? %>
        <li class="nav-item active">
          <% if current_user %>
            <%= link_to "Home", user_dashboard_path, class: "nav-link dropdown-item" %>
          <% end %>
          <% if current_driver %>
            <%= link_to "Home", driver_dashboard_path, class: "nav-link dropdown-item" %>
          <% end %>
        </li>
        <li class="nav-item">
            <%= link_to "Profile", profile_path, class: "nav-link dropdown-item" %>
        </li>
        <li class="nav-item">
            <%= link_to "Log out!", destroy_user_session_path, method: :delete, class: "nav-link dropdown-item" %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Logout", destroy_driver_session_path, class: "nav-link dropdown-item" %>
        </li>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link dropdown-item" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>

