

<div class="container" id="loginbk">
<div id="logo-container" class="row">
<%= image_tag 'logo.png' %>
</div>

<div class="concontainer">
<%# <div class="textandbutton"> %>
<div id="btn-container">
<div class="logintext">
    <h1>Create an account</h1>
    <p class="textrow">Create your account to fully </p>
    <p class= "text-row">experience the app</p>
</div>
<div class="button-container">
<div class="row rowlogin align-item"><%= link_to "Sign up with email", new_user_registration_path, class: "btnlogin" %></div>
<div class="row rowlogin"><%= link_to "Continue with Facebook", new_driver_registration_path, class: "btnlogin" %></div>
<div class="row rowlogin"><%= link_to "Continue with Instagram", new_driver_registration_path, class: "btnlogin" %></div>
<div class="row rowlogin"><%= link_to "Already a user ? Log in", new_user_session_path, class: "btnlogin" %></div>
</div>
</div>

</div>