
<div class="container" id="loginbk">
<div id="logo-container" >
<%= image_tag 'logo.png' %>
</div>
<div>&nbsp;</div>
<div class="home-container mt-3">
     <h1>Create an account</h1>
     <p class="textrow">Create your account to fully </p>
     <p class= "text-row">experience the app</p>  
</div>
<div class="button-container mt-3">
<%= link_to "Sign up with email", new_user_registration_path, class: "btnlogin " %>
<%= link_to user_facebook_omniauth_authorize_path, class: "btnlogin fb-btn" do %>
 <div class="continue"> <i class="fa fa-facebook fa-fw"></i><p>Continue with facebook</p></div>
  <% end %>
<%= link_to  new_driver_registration_path, class: "btnlogin insta-btn" do %>
 <div class="insta"> <p>Continue with Instagram</p></div>
  <% end %>
<div class="already">
<%= link_to new_user_session_path, :class => 'already' do %>
    <p>Already a user ?&nbsp;</p><strong>Log In&nbsp;</strong>
<% end %>
</div>
</div>  
</div>
<%# <div class="row rowlogin"></div>
<div class="row rowlogin"><%#= link_to "Continue with Instagram", new_driver_registration_path, class: "btnlogin"</div> 
<%# <div class="row rowlogin"><%#= link_to "Already a user ? Log in", new_user_session_path, class: "btnlogin"</div> %> 
