<div class="card-schedule p-1">
    <div class="schedule-text">
      <p>Your <u>next pickup</u> is scheduled for:</p>
    </div>
    <div class="schedule-container">
      <div class="schedule-date">
        <h3><%= @next_pickup.date.strftime("%e") %></h3>
        <span><%= @next_pickup.date.strftime("%m") %> - <%=@next_pickup.date.strftime("%b").upcase %></span>
      </div>
      <div class="schedule-day">
        <h3><%= @next_pickup.date.strftime("%A") %></h3>
        <% time_of_day = @next_pickup.time_of_day.split(" ", 2) %>
        <span>
          <%= time_of_day[0] %>
          <br>
          <%= time_of_day[1] %>
        </span>
      </div>
      <div class="reschedule">
        <%= link_to 'Reschedule', edit_pickup_path(@next_pickup), class: "btn btn-primary" %>
      </div> <!--Close Schedule DIV -->
    </div> <!-- Schedule-container DIV -->
  </div> <!-- card-schedule DIV -->

  <div class="reward-container card-colored">
  
    <div class="reward-container-text mr-2">
      <p>You are <%= @random_reward.point_cost - current_user.points %> points away from:</p>
      <span><%= @random_reward.name %></span>
    </div>

    <div class="reward-progress-card m-2">
      <span>Keep Scrappin'</span>
      <div class="reward-container-progress">
        <div class="barOverflow">
          <div class="bar"></div>
        </div>
        <%= image_tag 'thumbsup.png', size: '20x20' %>
        <br>
        <span class="bar-points"><%= current_user.points %></span>
        <span class="d-none"> <%= @random_reward.point_cost %>
      </div>
    </div>

</div>
