<% @previous_pickups.each do |pickup| %>
  <% if pickup.status == 'complete' %>
    <div class="pickup-card h-50 w-100 d-flex justify-content-between align-items-center">
      <div class="date d-flex flex-column justify-content-around">
        <span class="pickup-day"><%= pickup.date.strftime("%e") %></span>
        <span class="pickup-month"><%= pickup.date.strftime("%b").upcase %></span>
      </div>
      <%# <hr class = "vertical-bar">  %>
      <div class="feedback">
        <%= pickup.feedback %>
      </div>
      <div class="rating">
        <% if pickup.rating %>
          <%= image_tag 'thumbsup.png', size: '32x32', class: 'rating-badge-sm' %>
          <span class="rating-points">+25</span>
        <% else %>
          <%= image_tag 'thumbsdown.png', size: '32x32', class: 'rating-badge-sm' %>
          <span class="rating-whoops">whoops</span>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>