
<div class="card-colored rewards-colored p-2">
  <div class="points-circle">
    <h1><%= @user.points %><br>pts</h1>
  </div>
  <div class="points-detail">
    <h3>you have <%= @user.points %> points available to redeem</h3>
    <button class="btn" id="btn-white">view rewards here</button>
  </div>
</div>

<div class="list-rewards">
  <div class="header-box">
    <h4>Your preferred rewards</h4>
  </div>


  <div class="rewards-wrapper">
    <% @user_rewards.each do |rew| %>
      <div class="reward-card">
        <div class="rewardtitle">
          <p><%= rew.name %></p>
        </div>
        <div class="redeem">
          <h4 style="font-size: 16px; color: #00A8B7; font-weight: 600;"><%= rew.point_cost %> pts</h4>
          <% if rew.point_cost < current_user.points %>
            <button class="btn-redeem">redeem</button>
          <% else %>
            <button class="grey-btn">need <%= rew.point_cost - current_user.points %> pts!</button>
          <% end %>
        </div>
    </div>
    <% end %>
  </div>
</div>

<div class="list-rewards">
  <div class="header-box">
    <h4>See other rewards by category</h4>
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Filter rewards by category
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <% Category.all.each do |cat| %>
          <%= link_to cat.name, filter_rewards_path(reward_query: cat.name), method: :post, remote: true %><br>
        <% end %>
      </div>

      <%= link_to 'view all', reset_rewards_path, class: "btn btn-redeem", method: :post, remote: true %>
    </div>
  </div>

  <%= render 'filtered_rewards', rewards: @rewards %>
</div>



