
<div class="card-colored p-2">

  <h3>you have <%= @user.points %> points available</h3>
  <button class="btn" id="btn-white">view rewards here</button>
</div>


<div class="header-box">
  <h3>Your preferred rewards</h3>
</div>


<div class="rewards-wrapper">
  <% @user_rewards.each do |rew| %>
    <div class="reward-card">
      <div class="rewardtitle">
        <p><%= rew.name %></p>
      </div>
      <div class="redeem">
        <h4 style="font-size: 16px; color: #00A8B7; font-weight: 600;"><%= rew.point_cost %></h4>
        <button class="btn-redeem">redeem</button>
      </div>
  </div>
  <% end %>
</div>



<div class="rewards-wrapper">
<h3>Other rewards you may be interested in</h3>

<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Dropdown button
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <% Category.all.each do |cat| %>
      <%= link_to cat.name, user_dashboard_path(reward_query: cat.name) %>
    <% end %>
  </div>

  <%= link_to 'view all', user_dashboard_path, class: "btn btn-redeem" %>
</div>

  <% @rewards.each do |rew| %>
      <div class="reward-card">
        <div class="rewardtitle">
          <p><%= rew.name %></p>
        </div>
        <div class="redeem">
          <h4 style="font-size: 16px; color: #00A8B7; font-weight: 600;"><%= rew.point_cost %></h4>
          <button class="btn-redeem <%= 'grey-btn' if rew.point_cost > current_user.points %>"><i class="fas fa-plus"></i> add</button>
        </div>
      </div>
  <% end %>
</div>



