<div class="container">

  <div class="row">
    <div class="col-md-6 px-0 mx-auto">
      <% if @next_pickup %>
        <div class="card-schedule p-1">
          <div class="schedule-text">
            <p>Your <u>next pickup</u> is scheduled for:</p>
          </div>
          <div class="schedule-container">
            <div class="schedule-date">
              <h3><%= @next_pickup.date.strftime("%e") %></h3>
              <span><%= @next_pickup.date.strftime("%m") %> - <%=@next_pickup.date.strftime("%b").upcase %></span>
            </div>
            <div class="schedule-day">
              <h3><%= @next_pickup.date.strftime("%A") %></h3>
              <% time_of_day = @next_pickup.time_of_day.split(" ", 2) %>
              <span>
                <%= time_of_day[0] %>
                <br>
                <%= time_of_day[1] %>
              </span>
            </div>
            <div class="reschedule">
              <%= link_to 'Reschedule', edit_pickup_path(@next_pickup), class: "btn btn-primary" %>
            </div> <!--Close Schedule DIV -->
          </div> <!-- Schedule-container DIV -->
        </div> <!-- card-schedule DIV -->
        <div class="reward-container card-colored">
          <div class="reward-container-text">
            <p>You are <%= @random_reward.point_cost - current_user.points %> points away from:</p>
            <span><%= @random_reward.name %></span>
          </div>
          <div class="reward-container-progress">
            <div class="barOverflow">
              <div class="bar"></div>
            </div>
            <span class="bar-points"><%= current_user.points %></span>
            <span class="d-none"> <%= @random_reward.point_cost %>
          </div>
        </div>
      <% else %>
        <h3>Schedule a pickup</h3>
      <% end %>
      <%= link_to "Book a pickup", new_pickup_path %>
    </div> <!-- COL -->
  </div> <!-- ROW -->

<hr>


  <div class="row">
    <div class="col-md-6 px-0 mx-auto">
      <h4>Your Past Pickups:</h4>
      <%= render 'past_pickups' %>
    </div> <!-- COL -->
  </div> <!-- ROW -->


</div>
