<div class="rewards-wrapper" id="users_rewards">
    <% user_rewards.each do |rew| %>
      <div class="reward-card">
        <div class="rewardtitle">
          <p><%= rew.name %></p>
        </div>
        <div class="redeem">
          <h4 style="font-size: 16px; color: #00A8B7; font-weight: 600;"><%= rew.point_cost %> pts</h4>
          <% if rew.point_cost <= current_user.points %>
            <%= link_to "redeem", reward_path(rew.id), id: "first-btn-redeem", class: "btn-redeem", method: :get, remote: true %>
          <% else %>
            <%= link_to reward_path(rew.id), class: "grey-btn", method: :get, remote: true do %>
              need <%= rew.point_cost - current_user.points %> pts!
            <% end %>
          <% end %>
        </div>
      </div>
  <% end %>
</div>

