<div class="container driver-dashboard">
  <div class="driver-controls">
    <div class="driver-welcome">
      <h4>Hello, <%= current_driver.first_name %></h4>
    </div>  
    <div class="map-button">
      <%= link_to 'See Map', map_path, class: 'btn btn-primary' %>
    </div>
  </div>

  <% @pickups.each do |pickup| %>
    <%# if pickup.status == 'complete' %>


      <div class="card-pickup w-100 d-flex justify-content-between align-items-center">


        <div class="card-date px-2">
          <span class="pickup-day"><%= pickup.date.strftime("%e") %></span>
          <span class="pickup-month"><%= pickup.date.strftime("%b").upcase %></span>
        </div>


        <div class="feedback user-details">
          <div class="user-name">
            <%= pickup.user.first_name %>
            <%= pickup.user.last_name %>
          </div>
          <div class="user-address"><%= pickup.user.address %></div>
        </div>


        <div class="confirm-pickup">
          <% if pickup.status == 'pending' %>
            <%= link_to "Confirm Pickup", pickup_path(pickup, pickup: {status: "confirmed"}), method: :patch, class: 'btn btn-primary' %>
          <% else %>
            <button class="btn btn-secondary">Confirmed</button>
          <% end %>

        </div>


      </div> <!-- PICKUP-CARD div -->
    <%# end %>
  <% end %>
  <h3>Your Past Pickups:</h3>
  <% if @past_pickups.any? %>
  <% @past_pickups.each do |pickup| %>
    <% if pickup.status == 'complete' %>


      <div class="card-pickup w-100 d-flex justify-content-between align-items-center">


        <div class="card-date px-2">
          <span class="pickup-day"><%= pickup.date.strftime("%e") %></span>
          <span class="pickup-month"><%= pickup.date.strftime("%b").upcase %></span>
        </div>


        <div class="feedback">
          <% if pickup.feedback %>
            <div class="card-feedback">
              <% pickup.feedback.split("/").each do |feedback| %>
              <%= feedback%><br>
              <% end %>
            </div>
          <% end %>
        </div>


        <div class="rating px-2">
          <% if pickup.rating %>
            <%= image_tag 'thumbsup.png', size: '32x32', class: 'rating-badge-sm' %>
            <span class="rating-points">+25</span>
          <% else %>
            <%= image_tag 'thumbsdown.png', size: '32x32', class: 'rating-badge-sm', id: "whoops" %>
            <span class="rating-whoops"><em>whoops!</em></span>
          <% end %>
        </div>


      </div> <!-- PICKUP-CARD div -->
    <% end %>
  <% end %>
<% else %>
  <div class="card-no-pickup card">
    <div>
      <p>Go pick up some compost...</p><br>
    </div>
  </div>
<% end %>
</div>